<div class="alert alert-danger sticky-top" role="alert" *ngIf="isInvalid">
  {{ invalidText }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="isValidFalse()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="height-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card bg-dark text-white shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="fw-bold mb-2 pb-4 text-uppercase text-center">{{ "registration" | translate }}</h3>
            <form [formGroup]="registerForm">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="firstName">{{ "firstName" | translate }}</label>
                    <span class="required">*</span>
                    <input
                      type="text"
                      id="firstName"
                      [ngClass]="isFirstNameEmpty ? 'form-control form-control-lg input-invalid' : 'form-control form-control-lg'"
                      formControlName="firstName"
                      (focus)="isFirstNameEmpty=removeInvalid()"
                    />
                    <div [ngClass]="isFirstNameEmpty ? 'invalid-text' : 'hidden'">
                      {{ "registers.required.firstName" | translate }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="lastName">{{ "lastName" | translate }}</label>
                    <span class="required">*</span>
                    <input
                      type="text"
                      id="lastName"
                      [ngClass]="isLastNameEmpty ? 'form-control form-control-lg input-invalid' : 'form-control form-control-lg'"
                      formControlName="lastName"
                      (focus)="isLastNameEmpty=removeInvalid()"
                    />
                    <div [ngClass]="isLastNameEmpty ? 'invalid-text' : 'hidden'">
                      {{ "registers.required.lastName" | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="email">{{ "email" | translate }}</label>
                    <span class="required">*</span>
                    <input
                      type="email"
                      id="email"
                      [ngClass]="
                        isEmailEmpty || isEmailFormatWrong ? 
                          'form-control form-control-lg input-invalid' : 
                          'form-control form-control-lg'
                      "
                      formControlName="email"
                      (focus)="isEmailEmpty=removeInvalid(); isEmailFormatWrong=removeInvalid()"
                    />
                    <div [ngClass]="isEmailEmpty ? 'invalid-text' : 'hidden'">
                      {{ "registers.required.email" | translate }}
                    </div>
                    <div [ngClass]="isEmailFormatWrong ? 'invalid-text' : 'hidden'">
                      {{ "registers.required.emailFormat" | translate }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="phoneNumber">{{ "phone" | translate }}</label>
                    <span class="required">*</span>
                    <input
                      type="text"
                      id="phoneNumber"
                      [ngClass]="
                        isPhoneEmpty || isPhoneFormatWrong ? 
                          'form-control form-control-lg input-invalid' : 
                          'form-control form-control-lg'
                      "
                      formControlName="phone"
                      (focus)="isPhoneEmpty=removeInvalid(); isPhoneFormatWrong=removeInvalid()"
                      required=""
                      maxlength="10"
                    />
                    <div [ngClass]="isPhoneEmpty ? 'invalid-text' : 'hidden'">
                      {{ "registers.required.phone" | translate }}
                    </div>
                    <div [ngClass]="isPhoneFormatWrong ? 'invalid-text' : 'hidden'">
                      {{ "registers.required.phoneFormat" | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typePasswordX">{{ "password" | translate }}</label>
                    <span class="required">*</span>
                    <input
                      type="password"
                      id="typePasswordX"
                      [ngClass]="
                        isPasswordEmpty || isPasswordLength ? 
                        'form-control form-control-lg input-invalid' : 
                        'form-control form-control-lg'
                      "
                      formControlName="password"
                      (focus)="isPasswordEmpty=removeInvalid();isPasswordLength=removeInvalid()"
                    />
                    <div [ngClass]="isPasswordEmpty ? 'invalid-text' : 'hidden'">
                      {{ "passwordRequired" | translate }}
                    </div>
                    <div [ngClass]="isPasswordLength ? 'invalid-text' : 'hidden'">
                      {{ "forgotPassword.passwordLength" | translate }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeConfirmPasswordX">{{ "confirmPassword" | translate }}</label>
                    <span class="required">*</span>
                    <input
                      type="password"
                      id="typeConfirmPasswordX"
                      [ngClass]="isConfPasswordEmpty ? 'form-control form-control-lg input-invalid' : 'form-control form-control-lg'"
                      formControlName="confirmPassword"
                      (focus)="isConfPasswordEmpty=removeInvalid()"
                    />
                    <div [ngClass]="isConfPasswordEmpty ? 'invalid-text' : 'hidden'">
                      {{ "registers.required.confPassword" | translate }}
                    </div>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline form-white mb-4">
                    <label class="form-label" for="typeDateOfBirthX">{{ "dob" | translate }}</label>
                    <span class="required">*</span>
                    <input
                      type="date"
                      id="typeDateOfBirthX"
                      [ngClass]="isDobEmpty ? 'form-control form-control-lg input-invalid' : 'form-control form-control-lg'"
                      formControlName="dob"
                      (focus)="isDobEmpty=removeInvalid()"
                    />
                    <div [ngClass]="isDobEmpty ? 'invalid-text' : 'hidden'">
                      {{ "registers.required.dob" | translate }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <h6 class="mb-2 pb-1">{{ "gender" | translate }}</h6>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                      value="1" checked formControlName="gender"/>
                    <label class="form-check-label" for="femaleGender">{{ "female" | translate }}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="maleGender"
                      value="2" formControlName="gender"/>
                    <label class="form-check-label" for="maleGender">{{ "male" | translate }}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="otherGender"
                      value="3" formControlName="gender"/>
                    <label class="form-check-label" for="otherGender">{{ "otherGender" | translate }}</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="securityQuestion">{{ "securityQuestion" | translate }}</label><br>
                  <select id="securityQuestion" class="height-40 width-540" formControlName="securityQuestion">
                    <option
                      *ngFor="let question of securityQuestions; let i = index"
                      [ngValue]="i+1"
                      [selected]="1"
                    >
                      {{ question }}
                    </option>
                </select>
                </div>
              </div>
              <div class="row">
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="securityAnswer">{{ "securityAnswer" | translate }}</label>
                  <span class="required">*</span>
                  <input
                    type="securityAnswer"
                    id="securityAnswer"
                    [ngClass]="isSecurityAnswerEmpty ? 'form-control form-control-lg input-invalid' : 'form-control form-control-lg'"
                    formControlName="securityAnswer"
                    (focus)="isSecurityAnswerEmpty=removeInvalid()"
                  />
                  <div [ngClass]="isSecurityAnswerEmpty ? 'invalid-text' : 'hidden'">
                    {{ "registers.required.securityAnswer" | translate }}
                  </div>
                </div>
              </div>
              <div class="text-center pb-4">
                <button
                  class="btn btn-outline-light btn-lg px-5 text-center align-items-center"
                  type="submit"
                  (click)="register()"
                >
                  {{ "register" | translate }}
                </button> 
              </div>
              <div class="text-center">
                {{ "accountExistsMessages" | translate }}
                <p class="mb-0">
                  <a (click)="goToLogin()" class="text-white-50 fw-bold">
                    {{ "login" | translate }}
                  </a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
