<div class="col-md-5 margin-l-300">
    <div class="panel panel-default">
      <ng-container *ngFor="let tweet of tweets">
        <div fxLayout="row border-bottom">
          <div class="panel-body margin-top-20 border-bottom">
             <section class="post-heading">
                  <div class="row">
                      <div class="col-md-11">
                          <div class="media">
                            <div class="media-left">
                              <a href="">
                                <img class="media-object photo-profile" [src]="getUserDp('female')" width="40" height="40" alt="...">
                              </a>
                            </div>
                            <div class="media-body">
                              <a href="" class="anchor-username"><h4 class="media-heading">{{tweet.firstName}} {{tweet.lastName}}</h4></a> 
                            </div>
                            <div *ngIf="userName === tweet.userId">
                              <a>
                                <img src="../../../../../assets/icons/edit.svg" width="30" (click)="editTweet(tweet.id, tweet.userId)">
                                <img src="../../../../../assets/icons/delete.webp" width="30" (click)="deleteTweet(tweet.id)">
                              </a>
                            </div>
                          </div>
                      </div>
                  </div>             
             </section>
             <section class="post-body">
                 <p>{{ tweet.tweetText }}</p>
             </section>
             <section class="post-footer margin-bottom-20">
                 <hr>
                 <div class="post-footer-option container">
                      <ul class="list-unstyled">
                          <li>
                            <a (click)="likeStatus(tweet.id)">
                              <img src="{{ likeImageSrc }}" width="30">
                              {{ "posts.like" | translate }}
                            </a>
                            <span *ngIf="tweet.likes">{{tweet.likes}}</span>
                          </li>
                          <li>
                            <a (click)="commentClicked()">
                              <img src="../../../../../assets/icons/comment.webp" width="30">
                              {{ "posts.comment" | translate }}
                            </a>
                          </li>
                          <li>
                          </li>
                      </ul>
                 </div>
                 <div class="post-footer-comment-wrapper" *ngIf="isComment">
                   <textarea cols="40"></textarea>
                   <button class="btn btn-sm btn-primary commentBtn">{{ "posts.comment" | translate }}</button>
                 </div>
             </section>
             <hr>
          </div>
        </div>
      </ng-container>
    </div>   
</div>