<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <img src="../../../../assets/icons/Twitter-logo.svg">
                <h1>
                    Sorry
                </h1>
                <h2>
                    403 UnAuthorized
                </h2>
                <div class="error-details">
                    Something went wrong!!!
                    <img
                        class="rounded-circle z-depth-2"
                        alt="100x100"
                        src="../../../../assets/icons/sad.png"
                        data-holder-rendered="true"
                    >
                </div>
                <div class="error-actions">
                    Take Me <a (click)="login()">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
