<div class="col-md-5 margin-l-300">
    <div class="panel panel-default">
      <ng-container *ngFor="let tweet of tweets">
        <div fxLayout="row border-bottom">
          <div class="panel-body margin-top-20 border-bottom">
             <section class="post-heading">
                  <div class="row">
                      <div class="col-md-11">
                          <div class="media">
                            <div class="media-left">
                              <a>
                                <img class="media-object photo-profile" [src]="getUserDp(tweet.userId)" width="40" height="40" alt="...">
                              </a>
                            </div>
                            <div class="media-body">
                              <a class="anchor-username" (click)="goToSubscribers(tweet.userId)">
                                <h4 class="media-heading">
                                  {{tweet.firstName | titlecase}} {{tweet.lastName | titlecase}}
                                </h4>
                              </a> 
                            </div>
                            <div *ngIf="userName === tweet.userId">
                              <a>
                                <img src="../../../../../assets/icons/edit.svg" width="30" (click)="editTweet(tweet.id, tweet.userId)">
                                <img src="../../../../../assets/icons/delete.webp" width="30" (click)="deleteTweet(tweet.id)">
                              </a>
                            </div>
                          </div>
                      </div>
                  </div>             
             </section>
             <section class="post-body">
                 <p>{{ tweet.tweetText }}</p>
             </section>
             <section class="post-footer margin-bottom-20">
                 <hr>
                 <div class="post-footer-option container">
                      <ul class="list-unstyled">
                          <li>
                            <a (click)="likeStatus(tweet.id)">
                              <span *ngIf="tweet.likes || likeTweetCount">
                                <ng-container *ngIf="tweet.id === likeTweetId; else likeSpace">
                                  <strong class="textBlack">{{likeTweetCount}}</strong>
                                </ng-container>
                                <ng-template #likeSpace>
                                  <strong class="textBlack" *ngIf="tweet.likes">{{tweet.likes}}</strong>
                                </ng-template>
                              </span>
                              <img src="{{ likeImageSrc }}" width="30">
                              {{ "posts.like" | translate }}
                            </a>
                          </li>
                          <li>
                            <a (click)="commentClicked(tweet.id, tweet.userId)">
                              <img src="../../../../../assets/icons/comment.webp" width="30">
                              {{ "posts.comment" | translate }}
                            </a>
                          </li>
                          <li>
                          </li>
                      </ul>
                 </div>
             </section>
             <hr>
          </div>
        </div>
      </ng-container>
    </div>
</div>