<div class="alert alert-danger sticky-top" role="alert" *ngIf="isInvalid">
  {{ "loginSection.invalidCred" | translate }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="alert alert-danger sticky-top" role="alert" *ngIf="errorFromApi">
  {{ errorMessage }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="height-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">{{ "login" | translate }}</h2>
                <p class="text-white-50 mb-5">{{ "loginPageMessage" | translate }}</p>
                <form [formGroup]="loginForm">
                  <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeEmailX">{{ "email" | translate }}</label>
                      <span class="required">*</span>
                      <input 
                        type="email" 
                        id="typeEmailX"                         
                        [ngClass]="isEmailInvalid ? 'form-control form-control-lg input-invalid' : 'form-control form-control-lg'"
                        required 
                        formControlName="email"
                        (focus)="isEmailInvalid=false"
                      />
                        <div [ngClass]="isEmailInvalid ? 'invalid-text' : 'hidden'">
                          {{ "emailRequired" | translate }}
                        </div>
                  </div>
                  <div class="form-outline form-white mb-4">
                      <label class="form-label control-label" for="typePasswordX">{{ "password" | translate }}</label>
                      <span class="required">*</span>
                      <input 
                        type="password"
                        id="typePasswordX"                      
                        [ngClass]="isPasswordInvalid ? 'form-control form-control-lg input-invalid' : 'form-control form-control-lg'"
                        required 
                        formControlName="password"
                        (focus)="isPasswordInvalid=false"
                        />
                        <div [ngClass]="isPasswordInvalid ? 'invalid-text' : 'hidden'">
                          {{ "passwordRequired" | translate }}
                        </div>
                  </div>
                  <p class="small mb-5 pb-lg-2"><a class="text-white-50" (click)="goToForgotPass()">{{ "forgotPass" | translate }}</a></p>
                  <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="login()">
                    {{ "login" | translate }}
                  </button>
                </form>
              </div>
              <div>
                <p class="mb-0">
                  {{ "signUpMessage" | translate }}
                  <a (click)="goToRegister()" class="text-white-50 fw-bold">
                    {{ "signUp" | translate }}
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
