<nav class="navbar navbar-expand-lg sticky-top bg-dark">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand p-2" fxFlex="40">
      <img 
          src="../../../../assets/icons/Twitter-logo.svg" 
          alt="tweetlogo" width="30" height="24" 
          class="d-inline-block align-text-top"
      >
      <span class="text-light">        
          {{ "header.brandName" | translate }}
      </span>
    </a>
    <div class="collapse navbar-collapse p-2" id="navbarSupportedContent" *ngIf="isLoggedIn">
      <form class="form-inline my-2 my-lg-0" fxFlex="90">
        <input 
          type="search" 
          class="form-control margin-r-10"
          placeholder="{{ 'header.search' | translate }}"
        />
        <button type="button" class="btn btn-outline-success my-2 my-sm-0">
          {{ "header.search" | translate }}
        </button>
      </form>
      <button
        type="button"
        class="btn btn-circle dropdown-toggle"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img src="../../../../assets/icons/user.svg" width="30">
      </button>
      <div class="dropdown-menu margin-l-1080 bg-dark" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item text-light" >{{ "header.headerUserList.profile" | translate }}</a>
        <a class="dropdown-item text-light" href="">{{ "header.headerUserList.passwordChange" | translate }}</a>
        <a class="dropdown-item text-light" href="/">{{ "header.headerUserList.logout" | translate }}</a>
      </div>
    </div>
  </div>
</nav>